$containerGap: 16px;

.container {
	width: 100%;
	flex-basis: 100%;
	max-width: calc(1112px + #{$containerGap * 2});
	padding-left: $containerGap;
	padding-right: $containerGap;
	margin-left: auto;
	margin-right: auto;

	&--no-gap {
		padding-left: 0;
		padding-right: 0;
	}

	&--full {
		max-width: 100%;
	}
}
