.profile-block {
	position: relative;
	transform: translateX(0);
	width: 70px;
	height: 70px;

	@include media(defp) {
		width: 326px;
		height: 100%;
	}

	@include media(lg) {
		transform: translateX(14px);
	}

	&__wrapper {
		position: absolute;
		left: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		width: 100%;

		&::after {
			box-shadow: 0px 0px 10px 0px rgba(51, 51, 51, 0.15); 
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			content: "";
			transition: opacity 0.2s ease;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		cursor: pointer;
		padding: 0;
		width: 100%;
		position: relative;
		z-index: 5;
		background-color: #fff;
		min-height: auto;
		user-select: none;
		height: 70px;
		justify-content: center;	

		@include media(defp) {
			justify-content: space-between;
			height: auto;
			padding: 8px 14px;
		}

		&:hover {
			.cog-decor-block {
				color: #333333;

				&__cog {
					transform: rotate(90deg);
				}
			}
		}
	}

	&__name {
		font-size: 16px;
		color: #757575;
		line-height: 120%;
		letter-spacing: 0.05em;
		margin: 0 10px;
		display: none;
		text-align: center;

		@include media(defp) {
			display: block;
		}
	}

	&__decor {
		display: none;

		@include media(defp) {
			display: block;
		}
	}

	&__image {
		display: flex;
		justify-content: center;	
		align-items: center;
		flex-shrink: 0;
		border-radius: 100%;
		width: 44px;
		height: 44px;

		@include media(defp) {
			width: 70px;
			height: 70px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__menu {
		width: 280px;
		border-top: 1px solid #bdbdbd;
		overflow: hidden;
		background-color: #fff;
		transition: visibility 0s 0.2s ease, opacity 0.2s 0s ease;
		visibility: hidden;
		opacity: 0;
		top: 100%;
		flex-direction: column;
		display: flex;
		z-index: 5;
		position: absolute;
		right: 0;

		@include media(defp) {
			width: 100%;
		}
	}

	&__menu-item {
		display: flex;
		width: 100%;
		align-items: center;
		height: 40px;
		position: relative;

		&:nth-child(1) {
			&::after {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				bottom: 0;
				width: 100%;
				max-width: 280px;
				content: "";
				height: 1px;
				background-color: #bdbdbd;
			}
		}

		&:nth-last-child(1) {
			&::before {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
				top: 0;
				width: 100%;
				max-width: 280px;
				content: "";
				height: 1px;
				background-color: #bdbdbd;
			}
		}
	}

	&__menu-link {
		text-decoration: none;
		display: flex;
		color: #757575;
		font-size: 14px;
		line-height: 110%;
		font-weight: 300;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 4px 34px;
		transition: color 0.1s ease, background-color 0.1s ease;
		letter-spacing: 0.05em;

		&:hover {
			background-color: #f8f8f8;
			color: #000;
		}
	}

	&.is-active {
		.profile-block {
			&__wrapper {
				&::after {
					opacity: 1;
				}
			}

			&__menu {
				visibility: visible;
				opacity: 1;
				position: absolute;
				transition: visibility 0s 0s ease, opacity 0.2s 0.01s ease;

				@include media(defp) {
					position: unset;
				}
			}
		}

		.cog-decor-block {
			&__arrow {
				transform: scaleY(-1);
			}
		}
	}

	&:hover {
		.profile-block {
			&__wrapper {
				&::after {
					opacity: 1;
				}
			}
		}
	}
}